<section id='main'>
<form action='/sessions' method='post'>
  <fieldset>
    <p class='in_main'> Email: <input type='email' name='email' required> </p></br>
    <p class='in_main'> Password: <input type='password' name='password' required></p></br>
    <input type='submit' value='Submit'>
  </fieldset>
</form>
</section>
