<% if flash[:notice]%>
  <div id='flash-error'>
    <%= flash[:notice] %>
  </div>
<% end %>
<form action='/spaces/new' method='post'>
  <label for='name'>
    Name:
    <input type='text' name='name'>
  </label>
  <label for='description'>
    Description:
    <input type='text' name='description'>
  </label>
  <label for='price'>
    Price per night: £
    <input type='text' name='price'>
  </label>
  <label for='available_from'>
    Available from (DD/MM/YY)
    <input type='text' name='available_from'>
  </label>
  <label for='available_to'>
    Available to (DD/MM/YY)
    <input type='text' name='available_to'>
  </label>

  <button type='submit'>List my Space</button>
</form>
