<form action='/spaces/new' method='post'>
  <label for='name'>
    Name:
    <input type='text' name='name'>
  </label>
  <label for='description'>
    Description:
    <input type='text' name='description'>
  </label>
  <label for='price'>
    Price per night: £
    <input type='text' name='price'>
  </label>
  
  <button type='submit'>List my Space</button>
</form>
