<form class='sign_up' action='/users/new' method='post'>
  Email:    <input type='email' name='email' pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required >
  Password: <input type='password' name='password' required >
  Password Confirmation: <input type='password' name='password_confirmation' required >
  Name: <input type='text' name='name' required >
  User Name: <input type='text' name='username' required >
  <input type='submit' value='Sign Up'>
</form>