<h1>Feel at Home, Anywhere</h1>
<section id='main'>
  <form id='sign_up' action='/users/new' method='post'>
    <fieldset>
     <p class='in_main'> Email:    <input type='email' name='email' value="<%= @user.email %>" required ></p></br>
     <p class='in_main'> Password: <input type='password' name='password' required ></p></br>
     <p class='in_main'> Password Confirmation: <input type='password' name='password_confirmation' required ></p></br>
     <p class='in_main'> Name: <input type='text' name='name' value="<%= @user.name %>" required ></p></br>
     <p class='in_main'> Username: <input type='text' name='username' value="<%= @user.username %>" required ></p></br>
      <input class='in_main' type='submit' value='Sign Up'>
    </fieldset>
  </form>
</section>
