Requests
<section class="container" id='spaces'>
  <ul class="row">
    <% @request_display.each do |request| %>
      <li class="list col-lg-12">
        <section id="requests">
          <p id='title'><%=request.name%> - <span id='price'>£<%= request.price %> per night</span></p></br>
          <p id='desc'><%=request.description%></p>
        </section>
      </li>
    <% end %>
  </ul>
</section>


Request for 'A Beautiful Relaxing Space'