<h3><%= @space.name %></h3>

<section id='main'>
    <form action='/requests/new' method='post'>
        <p id='pick_a_night'> Pick a night: </p></br>
        <div id='request_date_picker'>
          <input id='request_date' type='date'>
          <input type='hidden' name='space_id' value="<%= @space.id %>">
        <p class='in_main'> <input id='request' type='submit' value='Request booking'>
      </div>
    </form>
</section>

<script>
   $( document ).ready(function() {
     
     $(function() {
       
       var availableDays = <%= session[:array] %>;
       

       function enableTheseDays(date) {
         var sdate = $.datepicker.formatDate( 'yy-mm-dd', date )
         if($.inArray(sdate, availableDays) != -1) {
           return [true];
         }
         return [false];
       }

       $('#request_date_picker').datepicker({ altField: '#request_date', altFormat: "DD, d MM, yy", inline: true, dateFormat: 'yy-mm-dd', beforeShowDay: enableTheseDays });

     })
   });
      
  </script>