
.jumbotron{
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0px;
  background: url("/images/background.jpg")no-repeat;
  background-size: 135%;
  min-width:425px;
}
.jumbotron > h1{
  font-size: 100px;
  color: white;
  font-family: 'Oswald', sans-serif;
  margin: 0;
}
#spacenav{
  margin-bottom: 5;
}
.navbar-collapse{
  min-width: 300px;
}
.sign_in_button{
  padding:13px;
  background-color: transparent;
  color: #9d9d9d;
  border-color: transparent;
}
.sign_out_button{
  padding:13px;
  background-color: transparent;
  color: #9d9d9d;
  border-color: transparent;
}
.account{
  padding:13px;
  background-color: transparent;
  color: #9d9d9d;
  border-color: transparent;
}

.signup{
  padding:13px;
  background-color: transparent;
  color: #9d9d9d;
  border-color: transparent;
}

.account-name{
  color: #9d9d9d;
  font-size: 20px;
  padding-left: 100px;
  padding-top: 10px;
}
.flashbox{
  color: red;
  font-size: 20px;
}
.space-container{
  max-width: 900px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#list-space-button{
        display: table;
        margin: 0 auto;
}
#date-search-box{
  border: 2px solid black;
}
#date-display{
  border: 2px solid black;
}
