<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' type='text/css' href='/style.css'>
    <title>Maker's BnB</title>
    
    <script type='text/javascript' src='/jquery.js'></script>
    <script src="/jquery-ui.js"></script>
    
    
  </head>

  <body>

    <%= partial :greeting_message %>

    <%= partial :sign_up_errors %>

    <%= partial :sign_out %>

    <%= yield %>

    
    <script>

    $( document ).ready(function() {

      $(function() {
        $('#date_picker_from').datepicker({ minDate: -0, maxDate: "+2M", dateFormat: 'yy-mm-dd' });
      })

      $(function() {
        $('#date_picker_to').datepicker({ minDate: -0, maxDate: "+2M", dateFormat: 'yy-mm-dd' });
      })

    });

    </script>

  </body>
</html>
