<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' type='text/css' href='/style.css'>
    <title>Maker's BnB</title>
    
    <script type='text/javascript' src='/jquery.js'></script>
    <script src="/jquery-ui.js"></script>
    
    
  </head>

  <body>

    <%= partial :greeting_message %>

    <%= partial :sign_up_errors %>

    <%= partial :sign_out %>

    <%= yield %>


    <script>

    $( document ).ready(function() {

    
        $('#date_picker').datepicker();
      })

      $(function() {

      $( "#date_picker_from" ).datepicker({
      dateFormat: "dd/mm/yy",
      defaultDate: "+1w",
      changeMonth: true,
      minDate: 0,
      onClose: function( selectedDate ) {
        $( "#date_picker_to" ).datepicker( "option", "minDate", selectedDate );
      }
    });
    $( "#date_picker_to" ).datepicker({
      dateFormat: "dd/mm/yy",
      defaultDate: "+1w",
      changeMonth: true,
      onClose: function( selectedDate ) {
        $( "#date_picker_from" ).datepicker( "option", "maxDate", selectedDate );
      }
    });
    });
  });
    </script>

  </body>
</html>
