<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' type='text/css' href='/style.css'>
    <title>Maker's BnB</title>
  </head>

  <body>

    <%= partial :greeting_message %>

    <%= partial :sign_up_errors %>
    
    <%= partial :sign_out %>

    <%= yield %>
    
    <script type='text/javascript' src='/jquery.js'></script>
    <script src="/jquery-ui.js"></script>
    <script>
    
    $( document ).ready(function() {
      
      $(function() {
        $('#date_picker').datepicker();
      }) 
      
    });
    
    </script>

  </body>
</html>
